# Firebase Project Configuration
# Go to your Firebase project settings > General > Your apps > Firebase SDK snippet > Config
NEXT_PUBLIC_FIREBASE_API_KEY="your-api-key"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="your-auth-domain"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="your-project-id"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="your-storage-bucket"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="your-sender-id"
NEXT_PUBLIC_FIREBASE_APP_ID="your-app-id"


NEXT_PUBLIC_SUPABASE_URL=https://cmiojyoytqeucwrszxhu.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_jqHHX_vV2Xxy78vEFATHNA_1KQhxKzt
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtaW9qeW95dHFldWN3cnN6eGh1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDkwNjAyNiwiZXhwIjoyMDg2NDgyMDI2fQ.6PKieHDvkCgox0TaoDylMnb61HdpOT2NCBLv0rA0vXU